/* src/loginPage/login.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.MuiPaper-root {
    border-radius: 8px;
    /* Rounded corners for the paper */
}

.MuiButton-contained {
    background-color: #0056b3;
    /* Blue background for buttons */
    color: white;
    /* White text for buttons */
}

.MuiButton-contained:hover {
    background-color: #004494;
    /* Darker blue on hover */
}

.MuiLink-root {
    color: #0056b3;
    /* Blue color for links */
    cursor: pointer;
}

.MuiLink-root:hover {
    text-decoration: underline;
    /* Underline on hover */
}